.season-display {
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.winter {
  background-color: aliceblue;
}

.winter i {
  color: blue;
}

.summer {
  background-color: orange;
}

.summer i {
  color: red;
}

.season-display i:first-of-type {
  align-self: flex-start;
}

.season-display i:last-of-type {
  align-self: flex-end;
}
